name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 2

permissions:
  contents: read

jobs:
  build:
    name: Java ${{ matrix.java }}, Keycloak ${{ matrix.keycloak }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java: ['17', '21', '25']
        keycloak: ['22.0.5', '26.1.3']
    steps:
      - name: Clone repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: maven

      - name: Extract version
        id: version
        run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT

      - name: Build
        run: mvn -B package -Djava.version=${{ matrix.java }} -Dbuild.java=${{ matrix.java }} -Dkeycloak.version=${{ matrix.keycloak }}

      - name: Upload jar file
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: startsWith(matrix.keycloak, '22.') || matrix.keycloak == '22'
        with:
          name: keycloak-gsis-providers-java-${{ matrix.java }}-v${{ steps.version.outputs.version }}
          path: target/keycloak-gsis-providers-java-${{ matrix.java }}-v*.jar
          if-no-files-found: error
